[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

max_allowed_packet = 16M
#wait_timeout=2880000
old_passwords=1

log-slow-queries=/var/log/mysql-slow.log
long_query_time=2
join_buffer_size = 2M
tmp_table_size = 32M
max_heap_table_size = 48M
query_cache_size = 64M
key_buffer=128M
key_buffer_size = 256M
thread_cache_size = 4
table_cache = 500
innodb_additional_mem_pool_size = 4M
innodb_buffer_pool_size = 512M 
max_connections = 300



[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

